@import "tailwindcss";

body {
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a;            /* text-slate-900 */
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
